$background-color: #f3d7d4;
$primary-color: #e8e8e0;
$secoundary-color: #ffd7ba;
$primary-text-color: #657480;
$secoundary-text-color: #22272b;
$border-color: #c66869;
$primary-back-img: #c4d2dd;
$secoundary-back-button: white;
$primary-third-button: #adb2b9;
$third-back-button: #ef476f;
$third-dark: #DB9F95;
